* {
    font-family: 'Lora', serif;
    background-color: beige;
}

header {
    text-align: center;
    font-size: larger;
}

footer {
    text-align: center;
}

/* Sidebar styles */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(85, 0, 48);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    background-color: rgb(85, 0, 48);
}

.sidenav a:hover {
    color: #009144;
    transition: 0.3s;
}

/* Main content styles */

main {
    margin-left: 160px;
}


.showcase_hero {
    border: 1px solid rgb(0, 0, 0);
    background-color: #d9f8e7;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.showcase_hero_image {
    width: 70%;
    display: flex;
}

.showcase_hero img {
    max-width: 100%;
}

.showcase_hero_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    background-color: #d9f8e7;
    color: rgb(0, 0, 0);
}

.showcase_hero_content h1 {
    margin: 0;
    background-color: #d9f8e7;
    font-size: 30px;
}

.showcase_hero_content p {
    margin: 0;
    background-color: #d9f8e7;
    font-size: 20px;

}

.showcase_hero_link {
    text-decoration: none;
    color: black;
}

/* Hero 2 */